<div>
    <h3>{{param.structure_name}} {{param.structure_type}} - Est</h3><br>
    <h4>{{param.structure_type}}. {{param.total_space-param.occupied_space}} of {{param.total_space}} available</h4>
    <div class='progress-bar'>
        <mat-progress-spinner class="example-margin" [ngStyle]="{'stroke':strokeColor}" mode='determinate' value="{{(param.occupied_space / param.total_space * 100).toFixed(2)}}">
        </mat-progress-spinner>
        <h4 id="progress">{{(param.occupied_space / param.total_space * 100).toFixed(2)}} %</h4>
    </div>

    <p>{{param.occupied_space}} of {{param.total_space}} Spots Occupied</p>
    <div class='linkGrp'><a>View Structure</a><br>
        <a>Make Adjustment</a><br>
        <a>View Occupany Report</a></div>
</div>