.structurePage{
    background-color: rgba(60, 64, 67, 0.15);
    height:100%;
    width: 100%;
    position:fixed;
    margin-top: 5%;
}
.structurePage #list-sections{
    width:45%;
    margin-left:3%;
    float:left;
    background-color: white;
    margin-top:5%;
    height: 68%;
}
.structurePage #list-sections .content{
    margin: 5%;
}    
#header{
    background-color: #044804;
    height: 7%;
}
h4{
    font-size: 16px;
    font-weight: bold;
    float:left;
    color:white;
    padding-left:3%;
}
.structure {
    margin-top: 10%;
    list-style-type: none;
    padding: 0;
}
.structure li {
    position: relative;
    left: 0;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 35px;
    border-radius: 4px;
    border:1px solid rgba(60,64,67,0.15);
}
.structure li a{
    cursor: pointer
}
.structure li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.structure li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.colorSet{
    padding: 15px 10px;
    position: absolute;
    left: -2px;
    height: 6px;
    top: -1px;
    margin-right: 10px;
    border-radius: 4px 0 0 4px;
}
.color-green{
    background-color: green;
    border-right:green;
}
.color-blue{
    background-color: blue;
    border-right:blue;
}
.color-red{
    background-color: red;
    border-right:red;
}
.structure .badge {
    padding: 10px 0px;
    float: left;
    top: -7px;
    height: 15px;
    margin-right: -0.2em;
    border-radius: 4px 0 0 4px;
}
span {
    display: inline-block;
    border-right: 1px solid #019ed5;
    border-right-color:rgba(60,64,67,0.15);
    margin-right: 35px;
}
.delete {
    width: 10%;
    margin-right: -0.2em;
    height: 36px;
}
.no-line{
    border-right-color:white !important;
}
.btn{
    margin: 10px 0px 5px -90px;
    float:left;
    border-radius: 5px;
    border: 2px solid green
}
.btnGrp{
    float:right;
    margin-top: 2%;
}
.addBtn{
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-color: green !important;
    color: green !important;
    border-width: 1px !important;
    border-radius: 5px !important;
    min-width: 0px;
    line-height: 0px;
    padding: 0 0;
}
.detls{
    width:60%;
}
.space{
    width: 10%;
}
.content-filter{
    float:right;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.page-path{
    background-color:black;
    color:white;
    height:5%;
    position: fixed;
    width: 100%;
}
.page-path p{
    padding-left: 1%;
    font-weight: bold;
    text-align: left;
    font-size: small;
}
.mat-mini-fab{
    border-radius: 76%;
    width: 30px;
    height: 30px
}
.mat-mini-fab.mat-warn{
    background-color: white;
    color: #044804;
}
.parking-logo{
    float: left;
    top: 12%;
    left: 2%;
}
