<div class="structurePage">
  <div id='list-sections'>
    <div id='header'>
      <h4>Structures</h4>
      <div class='btnGrp'>
        <mat-icon>refresh</mat-icon>
        <mat-icon>minimize</mat-icon>
        <mat-icon>fullscreen</mat-icon>
      </div>
    </div>
    <div class="content-filter">
        <label>Show Hidden: </label>
        <mat-slide-toggle></mat-slide-toggle> 
    </div>
    <div class="content">
      <app-maps></app-maps>
    </div>
  </div>

  <div id='list-sections'>
    <div id='header'>
      <h4>Structures</h4>
      <div class='btnGrp'>
        <mat-icon>refresh</mat-icon>
        <mat-icon>minimize</mat-icon>
        <mat-icon>fullscreen</mat-icon>
      </div>
    </div>
    <div class='btn'>
      <button class="addBtn" mat-raised-button (click)="goToAddStructure()">+</button>
    </div>
    <div class="content-filter">
        <label>Show Hidden: </label>
        <mat-slide-toggle></mat-slide-toggle> 
    </div>
    <div class="content">
      <ul class="structure">
        <li *ngFor="let item of structures">
          <span class="colorSet color-{{item.color}}"></span>
          <span class="badge detls">{{item.structureName}} - {{item.structureType}}</span>
          <span class="badge space">{{item.occupiedSpace}}/{{item.totalSpace}}</span>
          <span class="delete"><button>+</button></span>
          <span class="delete"><button>edit</button></span>
          <span class="delete"><button>x</button></span>
        </li>
      </ul>
    </div>
  </div>
</div>