.leftData{
    width:45%;
    float:left;
    margin-right:2%;
}
.searchBox{
    border:1px solid rgba(60,64,67,0.15);
    height: 10%;
    margin-bottom:5%;
}
.mapContent{
    border:1px solid rgba(60,64,67,0.15);
}
.rightData{
    width:49%;
    float:left
}
.formContent{
    border:1px solid rgba(60,64,67,0.15);
    margin-bottom:5%;
}
.availability{
    border:1px solid rgba(60,64,67,0.15);
}
ul{
    list-style-type: none;
}
