ul{
    list-style-type: none;
}
.mapContent{
    width:45%;
    margin-left:3%;
    float:left;
    background-color: white;
    margin-top:5%;
    height: 79%;
}
.formContent{
    width:45%;
    margin-left:3%;
    float:left;
    background-color: white;
    margin-top:5%;
    height: 79%;
}