h3, h4{
    color: black;
    padding-left: 10px;
    margin-bottom: -25%;
}
h4{
    padding-left:25px;
    padding-top:5px;
    font-size:small
}
.logo{
    position:fixed;
}
.contacts {
    height: 100%;
    float: right;
    padding-top: 2%;
    padding-right: 2%;
}