/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.btnGrp{ 
  .mat-icon {
    color:white;
  }
}
.btnGrp {
  .material-icons {
    font-size: 16px;
  }
}

.mat-icon{
  margin-top: 5px;
}
.mat-slide-toggle-thumb {
    width: 10px !important;
    height: 10px !important;
    transform: translate(50%, 50%);
}
.mat-slide-toggle-bar {
    background-color: white;
    border-radius: 15px !important;
    height: 16px !important;
    border: 1px solid rgba(0,0,0,.38);
  }
  
.mat-slide-toggle-thumb-container {
  top: -2px !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: white;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
  background-color: blue;
}
.mat-slide-toggle-thumb {
  background-color:blue;
}

.gm-style .gm-style-iw {
  font-size: 11px !important;
}
.gm-style-iw {
  left:0px !important;
}
a{
  font-weight: normal !important;
  text-decoration: underline !important;
  float: right !important;
}
h3{
  margin-bottom: -4%;
  float:left;
}
h4{
  float:left;
  font-weight: normal;
  font-size: small;
}