/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body{
  margin:0;
  width: 100%;
  height: 100%;
}
header {
	height: 7%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: #fff; 
}
.btnGrp{ 
  .mat-icon {
    color:white;
  }
}
.btnGrp {
  .material-icons {
    font-size: 16px;
    cursor:pointer;
  }
}

.mat-icon{
  margin-top: 5px;
}
.mat-slide-toggle-thumb {
    width: 10px !important;
    height: 10px !important;
    transform: translate(50%, 50%);
}
.mat-slide-toggle-bar {
    background-color: white;
    border-radius: 15px !important;
    height: 16px !important;
    border: 1px solid rgba(0,0,0,.38);
  }
  
.mat-slide-toggle-thumb-container {
  top: -2px !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: white;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
  background-color: blue;
}
.mat-slide-toggle-thumb {
  background-color:blue;
}

.gm-style .gm-style-iw {
  font-size: 11px !important;
}
.gm-style-iw {
  left:0px !important;
}
.linkGrp {
  a{
    font-weight: normal !important;
    text-decoration: underline !important;
    float: right !important;
  }
}
.structurePage {
  h3{
    margin-bottom: -4%;
    float:left;
  }
}
.structurePage{
  h4{
    float:left;
    font-weight: normal;
    font-size: small;
  }
}
.searchBox{
  .search-input{
    display:inline-block !important;
    width: 85% !important;
  }
}
.mat-form-field-infix {
  width: 100%;
}
.mat-mini-fab .mat-button-wrapper{
  padding-left:12px!important;
  padding-right: 12px!important;
  padding-top:6px!important;
}
.mat-mini-fab{
  font-size: 15px;
  font-weight: 500;
}

.mat-progress-spinner svg {
  transform: rotate(180deg) !important;
}
.mat-progress-spinner circle{
  stroke: inherit;
}